<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.Configuration.Abstractions" />
      <package pattern="Microsoft.EntityFrameworkCore" />
      <package pattern="Microsoft.EntityFrameworkCore.*" />
      <package pattern="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" />
      <package pattern="FluentValidation" />
      <package pattern="FluentValidation.*" />
      <package pattern="Hangfire" />
      <package pattern="Hangfire.*" />
      <package pattern="Cronos" />
      <package pattern="Dapper" />
      <package pattern="Dapper.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Mapster" />
      <package pattern="Mapster.*" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Polly" />
      <package pattern="Polly.*" />
      <package pattern="Npgsql" />
      <package pattern="Npgsql.*" />
      <package pattern="Swashbuckle.AspNetCore" />
      <package pattern="Swashbuckle.AspNetCore.*" />
      <package pattern="StackExchange.Redis" />
      <package pattern="StackExchange.Redis.*" />
      <package pattern="Microsoft.OpenApi" />
    </packageSource>
  </packageSourceMapping>
</configuration>
